.sidebar-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100px; /* O el ancho deseado para tu barra lateral */
    background-color: #f0f0f0; /* Color de fondo para la barra lateral */
  }
  
  .app-toolbar {
    /* Ajusta los estilos según lo necesites */
  }
  
  .content {
    margin-left: 200px; /* Ajusta el margen izquierdo para que el contenido no se solape con la barra lateral */
    /* Otros estilos según sea necesario */
  }
  