<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Programacion</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    <div class="row animated fadeIn fast">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <input type="text" class="form-control" placeholder="Buscar usuario..."/>
                </div>
            </div>
        </div>
    </div> 

    <!-- Mensaje de cargando -->
    <div class="row animated fadeIn fast">
        <div class="col-12">
            <div class="alert alert-info text-center">
                <h4 class="alert-heading">Cargando</h4>
                <i class="fa fa-spin fa-refresh fa-2x"></i>
                <p class="mb-0">Por favor espere</p>
            </div>
        </div>
    </div> 

    <!-- Tabla de usuarios -->
    <div class="row animated fadeIn fast">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Total de usuarios (10)</h4>
                    <h6 class="card-subtitle">Usuarios registrados en mi aplicación</h6>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="w100">Avatar</th>
                                    <th>Correo</th>
                                    <th>Nombre</th>
                                    <th class="w140">Role</th>
                                    <th class="w100">Auth</th>
                                    <th class="text-nowrap w100">Acciones</th>
                           
