/* Contenedor principal */
.container {
  padding: 20px;
}
.cards-container {
  display: flex;
  gap: 20px; /* Espacio entre las tarjetas */
  overflow-x: auto; /* Permite desplazamiento horizontal si es necesario */
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  width: 200px; /* Ancho fijo para las tarjetas */
  flex: 0 0 auto; /* Evita que las tarjetas se estiren */
}

.card h4 {
  margin: 0 0 10px;
  font-size: 18px;
  color: #333;
}

.card p {
  margin: 0;
  font-size: 14px;
  color: #666;
}


/* Contenedor para los gráficos de barras */
.bar-charts-container {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

/* Estilo para los contenedores de gráficos */
.chart-container {
  position: relative;
}

/* Estilo específico para gráficos de barras */
.bar-chart {
  flex: 1;
  max-width: 50%; /* Ajusta el ancho máximo de los gráficos de barras */
}

/* Estilo específico para el gráfico circular */
.pie-chart {
  max-width: 400px; /* Ajusta el ancho máximo del gráfico circular */
  margin: 0 auto; /* Centra el gráfico circular horizontalmente */
}
