<div class="container">
  <!-- Contenedor para los gráficos de barras -->
  <div class="bar-charts-container">
    <!-- Gráfico por Mes -->
    <div class="chart-container bar-chart">
      <canvas id="chartMes"></canvas>
    </div>

    <!-- Gráfico por Financiamiento -->
    <div class="chart-container pie-chart">
      <canvas id="chartFinanciamiento"></canvas>
    </div>
  </div>

  <!-- Gráfico de Procedimientos (más ancho) -->
  <div class="chart-container wide-chart">
    <canvas id="chartProcedimientos"></canvas>
  </div>
</div>
