<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
      <ul id="sidebarnav">
        <!-- Menú de Usuario -->
        <li class="user-profile">
          <a class="has-arrow waves-effect waves-dark"
             href="javascript:void(0)"
             (click)="toggleUserMenu()"
             [attr.aria-expanded]="isUserMenuOpen ? 'true' : 'false'"
             aria-haspopup="true">
             <img src="../../../assets/images/doctor icon.png" alt="user" />
             <span class="hide-menu">Hola! {{username}} </span>
          </a>
          <ul *ngIf="isUserMenuOpen">
            <li><a routerLink="/login">Logout</a></li>
          </ul>
        </li>
        <!-- Fin Menú de Usuario -->

        <li class="nav-devider"></li>
        <li class="nav-small-cap">PERSONAL</li>

        <!-- Menú de Ítems -->
        <li *ngFor="let item of menuItems">
          <a class="waves-effect waves-dark"
             [routerLink]="item.url">
            <i [class]="item.icono"></i>
            <span class="hide-menu">{{ item.titulo }}</span>
          </a>
        </li>
        <!-- Fin Menú de Ítems -->

      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>
