.sidebar {
    width: 200px;
    background-color: #f8f9fa;
    border-right: 1px solid #dee2e6;
    height: 100vh;
    position: fixed;
  }
  
  .sidebar-header {
    padding: 16px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #dee2e6;
  }
  
  .sidebar-header .brand {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  .sidebar-header .brand-icon {
    margin-right: 8px;
    font-size: 2em; /* Ajustar el tamaño del icono */
    display: flex; /* Añadir display flex para centrar verticalmente */
    align-items: center; /* Centrar verticalmente */
  }
  
  .sidebar-header .brand-text {
    margin-left: 8px; /* Añadir margen entre el icono y el texto */
  }
  
  .sidebar-nav {
    padding: 16px;
  }
  
  .sidebar-nav .nav-item {
    display: flex;
    align-items: center;
    padding: 14px 16px; /* Aumentar el padding para más espacio */
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
    margin-bottom: 10px; /* Añadir margen inferior para separar los elementos */
  }
  
  .sidebar-nav .nav-item:last-child {
    margin-bottom: 0; /* Quitar margen inferior del último elemento */
  }
  
  .sidebar-nav .nav-item:hover {
    background-color: #e9ecef;
    color: #007bff;
  }
  
  .sidebar-nav .nav-icon {
    width: 30px; /* Ajustar el ancho del contenedor del icono */
    display: flex;
    justify-content: center; /* Centrar el icono horizontalmente */
  }
  
  .sidebar-nav .nav-icon i {
    font-size: 1.75em; /* Aumentar el tamaño del icono */
  }
  
  .sidebar-nav .nav-text {
    margin-left: 16px; /* Espacio entre el icono y el texto */
  }
  